@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  border: 0px;
  margin: 0px;
  /* border: 1px solid red; */
}
body{
  background-color: #161717;
}
:root {
  --primario: #D4A160;
  --secundario: #dddddd;
}
.primario {
  color: var(--primario);
}
.secundario {
  color: var(--secundario);
}
a {
  text-decoration: none;
}
.fuente1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* scroll */
#inicio {
  scroll-margin-top: 5.4em;
}
#trabajo {
  scroll-margin-top: 5.4em;
}
#sobreMi {
  scroll-margin-top: 1.4em;
}
#estudio {
  scroll-margin-top: 5.4em;
}
/* barra de progreso */
.barra-progreso {
  position: fixed;
  width: 100%;
  height: 3px;
}
.progreso {
  width: 0%;
  height: 100%;
  background-color: var(--primario);
}
/* navbar */
nav {
  transition: 0.7s;
}
.fondo-dark {
  background-color: rgb(0, 0, 0);
}
.active {
  color: var(--secundario);
}
.active:hover {
  color: var(--primario);
}
.active:focus {
  color: var(--primario);
}
.logo-img {
  width: 50px;
  object-fit: contain;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem var(--primario);
}
.btnNav {
  position: relative;
}
.btnNav::before {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--primario);
  position: absolute;
  transition: all 0.5s;
  left: 0;
  bottom: 0px;
}
.btnNav:hover::before {
  width: 100%;
}
.titulo-nav{
  color: var(--primario);
  transition: all 0.5s;
}
.titulo-nav:hover{
  color: var(--secundario);
}
.sobreMi{
  width: 70px;
}
/* header */
.backg{
  width: 100%;
  height: 100%;
}
.buttonContac {
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
  background-color: var(--primario);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttonContac:hover {
  background-color: #fda42f;
  box-shadow: 0px 15px 20px #f6c381;
  color: black;
  transform: translateY(-7px);
}

.buttonContac:active {
  transform: translateY(-1px);
}
.img-deco {
  width: 350px;
  object-fit: contain;
  box-shadow: 0 15px 20px black;
  border: none;
  border-radius: 5px;
}
/* trabajos */
.img-prueba{
  width: 400px;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .img-deco {
    width: 150px;
    object-fit: contain;
    box-shadow: 0 15px 20px black;
  }
}
@media screen and (max-width: 900px) {
  nav {
    background-color: rgba(0, 0, 0, 0.979);
  }
}